CONSUL_VERSION=

CONSUL_DATACENTER=
CONSUL_1_PLACEMENT_LABEL=
CONSUL_2_PLACEMENT_LABEL=
CONSUL_3_PLACEMENT_LABEL=

CONSUL_CLIENT_1_IP=
CONSUL_CLIENT_1_HOSTNAME=
CONSUL_CLIENT_1_FQDN=
CONSUL_CLIENT_2_IP=
CONSUL_CLIENT_2_HOSTNAME=
CONSUL_CLIENT_2_FQDN=
CONSUL_CLIENT_3_IP=
CONSUL_CLIENT_3_HOSTNAME=
CONSUL_CLIENT_3_FQDN=


DOCKER_1_HOST_IP=
DOCKER_1_HOSTNAME=
DOCKER_1_FQDN=
DOCKER_2_HOST_IP=
DOCKER_2_HOSTNAME=
DOCKER_2_FQDN=
DOCKER_3_HOST_IP=
DOCKER_3_HOSTNAME=
DOCKER_3_FQDN=
